@using Agio.Flights.Presentation.Models;
@using Resources;

@model IEnumerable<AircraftViewModel>

@{
    ViewBag.Title = PresentationResource.AircraftIndexTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p class="text-right">
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-outline-primary" })
</p>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ModelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TakeoffEffort)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TakeoffEffort)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-secondary btn-sm" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-secondary btn-sm" })
                </td>
            </tr>
        }

    </table>
</div>