<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @Html.ActionLink("Agio Global Test", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">@Html.ActionLink("Airports", "Index", "Airport", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Aircrafts", "Index", "Aircraft", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Flights", "Index", "Flight", null, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()

        <hr />
        <footer>
            <p class="text-center">&copy; @DateTime.Now.Year - <a href="mailto:somossis@gmail.com">Somossis Carvalho</a></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
